[
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "GET",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY/values:batchGet?ranges=DMU%21I%3AL&ranges=DMU%21C%3AF",
    "body": "",
    "status": 200,
    "response": {
      "spreadsheetId": "1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY",
      "valueRanges": [
        {
          "range": "DMU!I1:L62",
          "majorDimension": "ROWS",
          "values": [
            [],
            [],
            [],
            [],
            [],
            ["", "", "", "Last Cleanup 09/12"],
            ["Prog List"],
            ["IGN", "World", "Class", "prog point"],
            ["Raya Angeles", "Rafflesia", "SGE", "Heavensfall"],
            ["Madeline Rose'", "Faerie", "Astro", "Fellruin"],
            ["Tio Tot", "Sargatanas", "RPR", "Fellruin"],
            ["Hiko Malqir", "Mateus", "Summoner", "Nael"]
          ]
        },
        {
          "range": "DMU!C1:F62",
          "majorDimension": "ROWS",
          "values": [
            [],
            ["UCOB"],
            [],
            ["Once your sign-up has been approved..."],
            ["Wait for a Coordinator to contact you on Discord"],
            [],
            ["Clear Ready"],
            ["IGN", "World", "Class", "prog point"],
            ["Ikanashi Izuki", "Excalibur", "DRK (MT)", "DRK (MT)"],
            ["Sauda Fusty", "Cactuar", "WHM", "Adds"],
            ["Spirit Blossom", "Midgardsormr", "SGE", "Adds"],
            ["Fye Ranulac", "Leviathan", "SMN", "Adds"],
            ["Aeo Arcanist", "Jenova", "foo", "P5 Forsaken"]
          ]
        }
      ]
    },
    "rawHeaders": { "content-type": "application/json; charset=UTF-8" },
    "responseIsBinary": false
  },
  {
    "scope": "https://oauth2.googleapis.com:443",
    "method": "POST",
    "path": "/token",
    "status": 200,
    "response": {
      "access_token": "redacted-by-recorded-sheets",
      "expires_in": 3599,
      "token_type": "Bearer"
    },
    "rawHeaders": { "content-type": "application/json" },
    "responseIsBinary": false
  }
]
