[
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "GET",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY?includeGridData=false&fields=sheets.properties%28sheetId%2Ctitle%29",
    "body": "",
    "status": 200,
    "response": {
      "sheets": [
        {
          "properties": {
            "sheetId": 792299429,
            "title": "UP (s2): DSR sign-ups"
          }
        },
        {
          "properties": {
            "sheetId": 1907827565,
            "title": "UP (s2): Hall of Fame"
          }
        },
        {
          "properties": {
            "sheetId": 458809218,
            "title": "UP (s3): TOP sign-ups"
          }
        },
        {
          "properties": {
            "sheetId": 2084812092,
            "title": "UP (s3): Hall of Fame"
          }
        },
        {
          "properties": {
[...]
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "GET",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY/values/DSR%21C%3AF",
    "body": "",
    "status": 200,
    "response": {
      "range": "DSR!C1:F149",
      "majorDimension": "ROWS",
      "values": [
        [],
        ["DSR"],
        [],
        ["Once your sign-up has been approved..."],
        ["Wait for a Coordinator to contact you on Discord"],
        [],
        ["Clear Ready"],
        ["IGN", "World", "Class", "prog point"],
        ["Aeo Arcanist", "Jenova", "foo", "P7 Enrage"],
        ["Gupp Nacht", "Faerie", "Dancer", "P6 Enrage"]
      ]
    },
    "rawHeaders": {
      "content-type": "application/json; charset=UTF-8"
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "GET",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY/values/DSR%21I%3AL",
    "body": "",
    "status": 200,
    "response": {
      "range": "DSR!I1:L149",
      "majorDimension": "ROWS",
      "values": [
        [],
        [],
        [],
        [],
        [],
        ["", "", "", "Last Cleanup 07/19"],
        ["Prog List"],
        ["IGN", "World", "Class", "prog point"],
        ["Fenrir Altair", "Lamia", "Paladin", "Wroth Flames"],
        ["Neto Merenda", "Behemoth", "BRD", "Wroth Flames"],
        ["Luka Grey", "Cactuar", "PCT", "WOTH"],
        ["Rems Hewley", "Jenova", "rdm", "Eyes"]
      ]
    },
    "rawHeaders": {
      "content-type": "application/json; charset=UTF-8"
    },
    "responseIsBinary": false
  },
[...]
  {
    "scope": "https://oauth2.googleapis.com:443",
    "method": "POST",
    "path": "/token",
    "status": 200,
    "response": {
      "access_token": "redacted-by-recorded-sheets",
      "expires_in": 3599,
      "token_type": "Bearer"
    },
    "rawHeaders": {
      "content-type": "application/json"
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "POST",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY:batchUpdate",
    "body": {
      "requests": [
        {
          "updateCells": {
            "range": {
              "sheetId": 41686528,
              "startRowIndex": 12,
              "endRowIndex": 13,
              "startColumnIndex": 8,
              "endColumnIndex": 12
            },
            "fields": "userEnteredValue"
          }
        }
      ]
    },
    "status": 200,
    "response": {
      "spreadsheetId": "1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY",
      "replies": [{}]
    },
    "rawHeaders": {
      "content-type": "application/json; charset=UTF-8"
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "PUT",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY/values/DSR%21I13%3AL?valueInputOption=USER_ENTERED",
    "body": {
      "values": [["Flow 5ed2e013", "Jenova", "tank", "P6"]]
    },
    "status": 200,
    "response": {
      "spreadsheetId": "1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY",
      "updatedRange": "DSR!I13:L13",
      "updatedRows": 1,
      "updatedColumns": 4,
      "updatedCells": 4
    },
    "rawHeaders": {
      "content-type": "application/json; charset=UTF-8"
    },
    "responseIsBinary": false
  }
]
