[
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "GET",
    "path": "/v4/spreadsheets/1D8OOrbeKyJWUIIR87ornoW6x2sqzVmGFc8pCvoiGPWY?includeGridData=false&fields=properties.title",
    "body": "",
    "status": 200,
    "response": {
      "properties": { "title": "Copy of Ulti Project: Season 5 (FRU)" }
    },
    "rawHeaders": { "content-type": "application/json; charset=UTF-8" },
    "responseIsBinary": false
  },
  {
    "scope": "https://oauth2.googleapis.com:443",
    "method": "POST",
    "path": "/token",
    "status": 200,
    "response": {
      "access_token": "redacted-by-recorded-sheets",
      "expires_in": 3599,
      "token_type": "Bearer"
    },
    "rawHeaders": { "content-type": "application/json" },
    "responseIsBinary": false
  }
]
