[
  {
    "scope": "https://sheets.googleapis.com:443",
    "method": "GET",
    "path": "/v4/spreadsheets/deleted-spreadsheet?includeGridData=false&fields=properties.title",
    "body": "",
    "status": 404,
    "response": {
      "error": {
        "code": 404,
        "message": "Requested entity was not found.",
        "errors": [
          {
            "message": "Requested entity was not found.",
            "domain": "global",
            "reason": "notFound"
          }
        ],
        "status": "NOT_FOUND"
      }
    },
    "rawHeaders": {
      "content-type": "application/json; charset=UTF-8"
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://oauth2.googleapis.com:443",
    "method": "POST",
    "path": "/token",
    "status": 200,
    "response": {
      "access_token": "redacted-by-recorded-sheets",
      "expires_in": 3599,
      "token_type": "Bearer"
    },
    "rawHeaders": {
      "content-type": "application/json"
    },
    "responseIsBinary": false
  }
]
