name: Lint Commit Messages
on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    # important to have trailing / on the branch name or it could match other branches that contain solely the word dependabot
    if: (github.actor!= 'dependabot[bot]') && (contains(github.head_ref, 'dependabot/') == false)
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6.2.1
