name: Fly Deploy and Publish Release To Discord
permissions:
  contents: read
on:
  release:
    types: [published]

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.2.4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      # build and upload sourcemaps before we deploy this image
      - run: bun install --frozen-lockfile
      - run: bun run sentry:sourcemaps
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

  publish-release-to-discord:
    name: Publish Release To Discord
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout private action repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          repository: ssilve1989/github-releases-to-discord-action
          token: ${{ secrets.DISCORD_RELEASES_TOKEN }}
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.2.4
      - run: bun install --frozen-lockfile
      - name: Run Publish Release
        uses: ./
        with:
          webhook-url: ${{ secrets.DISCORD_RELEASES_WEBHOOK_URL }}
